.list-wrap {
  height: 100%;
  overflow: hidden;
  .list-content {
    background: #fff;
    border-radius: 6px;
    margin: 20px;
    height: calc(100% - 40px);
    box-shadow: 0 2px 4px 0 rgba(99, 168, 235, 0.2);
  }
}
